[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "themes/tomorrow"]
	path = themes/tomorrow
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/slime-js"]
	path = site-lisp/slime-js
	url = git://github.com/swank-js/slime-js.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = git://github.com/milkypostman/powerline.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "site-lisp/nrepl"]
	path = site-lisp/nrepl
	url = git://github.com/kingtim/nrepl.el.git
[submodule "site-lisp/autopair"]
	path = site-lisp/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/jinja2-mode"]
	path = site-lisp/jinja2-mode
	url = git://github.com/paradoxxxzero/jinja2-mode.git
[submodule "site-lisp/ag.el"]
	path = site-lisp/ag.el
	url = git://github.com/Wilfred/ag.el.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/lunaryorn/git-modes.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/lunaryorn/flycheck.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/terminal-notifier.el"]
	path = site-lisp/terminal-notifier.el
	url = git@github.com:krismolendyke/terminal-notifier.el.git
[submodule "themes/st2"]
	path = themes/st2
	url = https://github.com/owainlewis/emacs-color-themes.git
[submodule "site-lisp/monetate-mode.el"]
	path = site-lisp/monetate-mode.el
	url = git@github.com:krismolendyke/monetate-mode.el.git
